<!-- BEGIN_INCLUDE(getsatisfaction:get-topic) -->
<getsatisfaction:get-topic idOrSlug="001"/>
<!-- END_INCLUDE(getsatisfaction:get-topic) -->
<!-- BEGIN_INCLUDE(getsatisfaction:get-topics) -->
<getsatisfaction:get-topics sortBy="MOST_REPLIES"/>
<!-- END_INCLUDE(getsatisfaction:get-topics) -->
<!-- BEGIN_INCLUDE(getsatisfaction:get-topic-by-company) -->
<getsatisfaction:get-topic-by-company idOrSlug="001" company="mulesoft"/>
<!-- END_INCLUDE(getsatisfaction:get-topic-by-company) -->
<!-- BEGIN_INCLUDE(getsatisfaction:get-topics-by-company) -->
<getsatisfaction:get-topics-by-company company="mulesoft"/>
<!-- END_INCLUDE(getsatisfaction:get-topics-by-company) -->
<!-- BEGIN_INCLUDE(getsatisfaction:get-topics-by-company-and-product) -->
<getsatisfaction:get-topics-by-company-and-product company="mulesoft" product="muleion"/>
<!-- END_INCLUDE(getsatisfaction:get-topics-by-company-and-product) -->
<!-- BEGIN_INCLUDE(getsatisfaction:get-products-by-company) -->
<getsatisfaction:get-products-by-company company="mulesoft"/>
<!-- END_INCLUDE(getsatisfaction:get-products-by-company) -->
<!-- BEGIN_INCLUDE(getsatisfaction:get-replies-by-topic) -->
<getsatisfaction:get-replies-by-topic idOrSlug="001"/>
<!-- END_INCLUDE(getsatisfaction:get-replies-by-topic) -->
<!-- BEGIN_INCLUDE(getsatisfaction:get-replies-by-user) -->
<getsatisfaction:get-replies-by-user userId="001"/>
<!-- END_INCLUDE(getsatisfaction:get-replies-by-user) -->
<!-- BEGIN_INCLUDE(getsatisfaction:create-topic-at-company) -->
<getsatisfaction:create-topic-at-company companyId="mulesoft">
    <getsatisfaction:topic subject="test for product affiliate" content="additional detail goes here" style="PRAISE">
        <getsatisfaction:products>
            <getsatisfaction:product name="muleion"/>
        </getsatisfaction:products>
        <getsatisfaction:keywords>
            <getsatisfaction:keyword>keyword</getsatisfaction:keyword>
        </getsatisfaction:keywords>
    </getsatisfaction:topic>
</getsatisfaction:create-topic-at-company>
<!-- END_INCLUDE(getsatisfaction:create-topic-at-company) -->
<!-- BEGIN_INCLUDE(getsatisfaction:create-reply-for-topic) -->
<getsatisfaction:create-reply-for-topic idOrSlug="001">
    <getsatisfaction:reply ref=""/>
</getsatisfaction:create-reply-for-topic>
<!-- END_INCLUDE(getsatisfaction:create-reply-for-topic) -->
<!-- BEGIN_INCLUDE(getsatisfaction:transform-json-to-topic) -->
<getsatisfaction:transform-json-to-topic/>
<!-- END_INCLUDE(getsatisfaction:transform-json-to-topic) -->
<!-- BEGIN_INCLUDE(getsatisfaction:transform-json-to-topics) -->
<getsatisfaction:transform-json-to-topics/>
<!-- END_INCLUDE(getsatisfaction:transform-json-to-topics) -->
<!-- BEGIN_INCLUDE(getsatisfaction:transform-json-to-replies) -->
<getsatisfaction:transform-json-to-replies/>
<!-- END_INCLUDE(getsatisfaction:transform-json-to-replies) -->
<!-- BEGIN_INCLUDE(getsatisfaction:transform-json-to-products) -->
<getsatisfaction:transform-json-to-products/>
<!-- END_INCLUDE(getsatisfaction:transform-json-to-products) -->
<!-- BEGIN_INCLUDE(getsatisfaction:transform-topic-to-json) -->
<getsatisfaction:transform-topic-to-json/>
<!-- END_INCLUDE(getsatisfaction:transform-topic-to-json) -->
<!-- BEGIN_INCLUDE(getsatisfaction:transform-topics-to-json) -->
<getsatisfaction:transform-topics-to-json/>
<!-- END_INCLUDE(getsatisfaction:transform-topics-to-json) -->
<!-- BEGIN_INCLUDE(getsatisfaction:transform-reply-to-json) -->
<getsatisfaction:transform-reply-to-json/>
<!-- END_INCLUDE(getsatisfaction:transform-reply-to-json) -->
<!-- BEGIN_INCLUDE(getsatisfaction:transform-replys-to-json) -->
<getsatisfaction:transform-replys-to-json/>
<!-- END_INCLUDE(getsatisfaction:transform-replys-to-json) -->
<!-- BEGIN_INCLUDE(getsatisfaction:transform-product-to-json) -->
<getsatisfaction:transform-product-to-json/>
<!-- END_INCLUDE(getsatisfaction:transform-product-to-json) -->
<!-- BEGIN_INCLUDE(getsatisfaction:transform-products-to-json) -->
<getsatisfaction:transform-products-to-json/>
<!-- END_INCLUDE(getsatisfaction:transform-products-to-json) -->
<!-- BEGIN_INCLUDE(getsatisfaction:transform-gs-object-to-json) -->
<getsatisfaction:transform-gs-object-to-json/>
<!-- END_INCLUDE(getsatisfaction:transform-gs-object-to-json) -->